<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <logger name="org.redisson" level="warn"/>
    <logger name="io.netty" level="warn"/>
    <logger name="org.jetlinks" level="warn"/>
    <logger name="org.jetlinks.gateway" level="debug"/>
    <logger name="io.lettuce" level="warn"/>
    　
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        　
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>